<html lang="pt-BR">
    <head>
        <title>Login</title>
        <% include ../partials/head %>
    </head>
    <body>
        <div class="container col-md-4 pt-5">
            <% if (erro == 'not_found') { %>
                <div class="alert alert-danger" id="msg-error">
                    <strong>Erro!</strong> Login ou senha inexistentes</a>
                </div>
            <% } %>
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="user">Login</label>
                    <input type="text" class="form-control" id="user" name="user" required>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <input type="submit" class="btn btn-warning btn-block" value="Entrar">
            </form>
        </div>
    </body>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/popper.min.js"></script>
    <script src="../assets/bootstrap.min.js"></script>
    <script src="../assets/login.js"></script>
</html>